<div class="panel panel-primary">
	<div class="panel-heading"><b>Inventory</b> </div>
	<div class="panel-body">
		<div class="col-xs-4">Breads</div>
		<div class="col-xs-2">{{ player.breads }}</div>
		<div class="col-xs-6"><a ng-click="startAuction('breads')" class="btn btn-success action"> Launch auction</a></div>
			
		<div class="col-xs-4"> Carrots </div>
		<div class="col-xs-2">{{ player.carrots }}</div> 
		<div class="col-xs-6"><a ng-click="startAuction('carrots')" class="btn btn-success action"> Launch auction</a></div>
		
		<div class="col-xs-4"> Diamond </div>
		<div class="col-xs-2">{{ player.diamonds }}</div>
		<div class="col-xs-6"><a ng-click="startAuction('diamonds')" class="btn btn-success action"> Launch auction</a></div>
	</div>
</div>